{% extends 'base.html' %}
{% load i18n %}
{% load static %} 
{% block title %} Login {% endblock %}

{% block content %}
<hr>
<h2 class="text-center mt-5">Change Password</h2>
<div class="container d-flex align-items-center justify-content-center py-3">
    <hr>
    <form method="post" class="form-group change_form mt-5">
        
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-footer">
             <a href="{% url 'homepage' %}">Back</a>
            <button type="submit">Save</button>
        </div>
       
    </form>
</div>
    {%endblock%}