{% extends 'base.html' %}
{% load i18n %}
{% load static %} 
{% block title %} Login {% endblock %}

{% block content %}
<hr>
<h2 class="text-center mt-5">Reset Password</h2>
<div class="container d-flex align-items-center justify-content-center py-3">

    <form method="post" class="form-group reset_form mt-5">
        
        {% csrf_token %}
        {{ form.as_p }}
             <div class="d-flex w-100 align-items-center justify-content-center">
                <button type="submit" class="btn btn-success px-3 py-3 mt-5" style="background-color: green !important; width: 60% !important;">submit</button>
             </div>
        
        
    </form>
</div>

{% endblock %}